body {
  font-family: 'Roboto';
  
}

#img{
  text-align: center;
  margin: auto;
}

#info {
  font-family: 'Roboto';
  text-align: center;
  padding: 25px;
  background-image: url(../img/thor.jpg);
  background-size: cover;
  
}
#info2 {
  font-family: 'Roboto';
  text-align: center;
  padding: 50px ;
  background-image: url(../img//background.jpg);
  background-size: cover;
}

#info .jumbotron{
  font-family: 'Roboto' sans-serif;
  border-radius: 30px;
  padding: 50px ;
  background-color: rgba(255,255,255,0.0);
  max-width: 800px;
  margin: auto;
  color:white;
}


#info2 .jumbotron  {
  font-family: 'Roboto';
  border-radius: 30px;
  padding: 50px ;
  background-color: rgba(255,255,255,0.0);
  max-width: 800px;
  margin: auto;
  color: black;
}

@media (min-width: 991px) {
  #info, #info2,#img {
    font-family: 'Roboto';
    padding: 20px;
  }
  
}
@media (max-width: 320px) {
  #info .jumbotron, #info2 .jumbotron,#img{
    font-family: 'Roboto';
    padding: 20px;
  }
}

#boton {
  font-family: 'Roboto';
  padding: 5px;
  margin: 40px;
}

#text-info {
  font-size: large;
  font-family: lato;
  padding: 60px;
  margin: auto;
}

#textooo{
  font-family: 'Roboto';
}






