<!DOCTYPE html> {% extends "layout.html" %} {% block content %}

<body>
    <div class="jumbotron">
        <h1 class="display-5">Grafo</h1>
        <p class="lead">Un grafo de tipo {{types}} donde se ingresaron estos nodos --> {{ nodes }} </p>
        <p class="lead">y las aristas ingresadas fueron -->{{ edges }}.</p>
        <img src="{{ url_for('graph', types=types, nodes=nodes, edges=edges) }}" alt="Un grafo de tipo {{types}} donde se ingresaronestos nodos --> {{ nodes }} y las aristas ingresadas fueron -->{{ edges }}" height="500" class="center" />
    </div>
</body>

{% endblock %}