{% extends "layout.html" %} {% block content %}

<div id="info">
    <div class="jumbotron" >
        <h1><strong>BIENVENIDO</strong></h1>
        <p id="text-info">Con esta pagina web seras capaz de generar imagenes de distintos tipos de grafos, encontrar el camino mas corto entre dos vertices y ademas conocer la categoria a la cual pertenece.</p>
        <p id="boton"><a href="/tarea1" class="btn btn-primary pulse animated infinite" role="button">Crear</a></p>
    </div>
</div>



<div id="info2">
    <div class="jumbotron">
        <h1><strong>COMO USAR</strong></h1>
        <p id="text-info">Para agregar un grafo debes indicar si es dirigido o no, sin importar el orden de ingreso, uno puede asociar el nodo [1] con [2] separandolo con una "," y a su vez separando las distintas conexiones con ";"<br>
            ejemplo para [1] conectado a [2], [2] conectado a [3] y [4] conectado a si mismo <br>
            <strong>1,2;2,3;4,4</strong>
    </div>
</div>   

{% endblock%}