<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <!-- Cambiar content="2 con content="N para cambiar tiempo de pre-load -->
  <meta http-equiv="refresh" content="2; url=/home" />  
  <title>Graphs</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.css'><link rel="stylesheet" href="/static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- tsParticles from https://particles.matteobruni.it -->
<!-- tsParticles from https://github.com/matteobruni/tsparticles -->
<!-- tsParticles container -->
<div id="tsparticles"></div>
<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/tsparticles@1.12.11/dist/tsparticles.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/js/fontawesome.min.js'></script><script  src="/static/script.js"></script>

</body>
</html>
