{% extends "layout.html" %} {% block content %}

<!-- dentro del container "jumbotron" agregado desde bootstrap, se encuentra el formulario para ingresar el grafo-->

<div class="jumbotron">
    <form method="POST" action="" novalidate>
                        <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Formulario</legend>

                        <div class="form-group">
                            <div class="form-check">
                                {{ form.dirigido(value='n') }}
                                <label class="form-check-label">¿Es dirigido? De lo contrario sera simple.</label>
                            </div>
                        </div>



                        
                        <div class="form-group">
                            {{form.nombre_grafico.label(class="form-control-label")}}
<!-- Validador inicio -->
{%if form.nombre_grafico.errors %}
{{form.nombre_grafico(class="form-control form-control-lg is-invalid")}}

<div class="invalid-feedback">
    {% for errors in form.nombre_grafico.errors %}
    <span>{{error}}</span>
    {%endfor%}
{% else %}
{{form.nombre_grafico(class="form-control form-control-lg")}}                  
{% endif %}

</div>






<div class="form-group">
{{form.nombres_nodos.label(class="form-control-label")}}
<!-- Validador inicio -->
{%if form.nombres_nodos.errors %}
{{form.nombres_nodos(class="form-control form-control-lg is-invalid")}}

<div class="invalid-feedback">
    {% for errors in form.nombres_nodos.errors %}
    <span>{{error}}</span>
    {%endfor%}
{% else %}
{{form.nombres_nodos(class="form-control form-control-lg")}}                  
{% endif %}
</div>



                        <div class="form-group">
                            {{form.edge.label(class="form-control-label")}}

                            <!-- Validador inicio -->

                            {%if form.edge.errors %}
                            {{form.edge(class="form-control form-control-lg is-invalid")}}

                            <div class="invalid-feedback">
                                {% for errors in form.edge.errors %}
                                <span>{{error}}</span>
                                {%endfor%}
                            {% else %}
                            {{form.edge(class="form-control form-control-lg")}}                  
                            {% endif %}
                            </div>

                        <!-- validador termino -->
                









                        <div class="form-group">
                            {{form.pesos.label(class="form-control-label")}}

                            <!-- Validador inicio -->

                            {%if form.pesos.errors %}
                            {{form.pesos(class="form-control form-control-lg is-invalid")}}

                            <div class="invalid-feedback">
                                {% for errors in form.pesos.errors %}
                                <span>{{error}}</span>
                                {%endfor%}
                            {% else %}
                            {{form.pesos(class="form-control form-control-lg")}}                  
                            {% endif %}
                            </div>

                        <!-- validador termino -->
                    </fieldset>


                        <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                        </div>
        </form>

    </div>
</div>  
</div>
{% endblock %}
